
.filter-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin: 15px 0;
}

.filter-options label {
    margin-right: 28px;
    color: #27303F;
    opacity: 0.6;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.filter-input-icon {
    position: relative;
    width: 320px;
}

.filter-input-icon > input, .filter-input-icon > select {
    /* position: relative; */
    padding-right: 30px;
    width: 100%;
}

.filter-input-icon > i {
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 12px;
}

.filter-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    width: 320px;
}

.filter-input input {
    width: 137px;
    text-align: center;
}